.toaster {
  --normal-bg: var(--bgcolor-main);
  --normal-border: var(--bgcolor-dark);
  .toast {
    background: var(--bgcolor-main) !important;
    /* width: 350px; */
    /* padding: 16px 24px; */

    /* &::after {
      content: '';
      display: block;
      background: var(--theme-color-dark);
    } */
  }
}
