.frame {
  margin: auto;

  animation: swoop-in 0.5s ease forwards;

  --frame-width: 480px;
  max-width: var(--frame-width);
  width: 100%;

  background-color: var(--theme-color-dark);

  --edge-size: 35px;
  --border-size: 15px;

  clip-path: polygon(
    var(--edge-size) 0%,
    calc(100% - var(--edge-size)) 0%,
    100% var(--edge-size),
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    var(--edge-size) 100%,
    0% calc(100% - var(--edge-size)),
    0% var(--edge-size)
  );

  .frame-inner {
    margin: var(--border-size);
    display: flex;
    max-height: calc(100vh - 80px);
    overflow: hidden scroll;

    background: linear-gradient(
      to bottom,
      var(--bgcolor-light-transparent),
      var(--bgcolor-lighter-transparent)
    );

    --edge-size: 25px;

    clip-path: polygon(
      var(--edge-size) 0%,
      calc(100% - var(--edge-size)) 0%,
      100% var(--edge-size),
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      var(--edge-size) 100%,
      0% calc(100% - var(--edge-size)),
      0% var(--edge-size)
    );

    .frame-max-width {
      padding: 50px 15px;
      width: 100%;

      max-width: calc(var(--frame-width) - 150px);
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      overflow: hidden;
    }
  }
}
